@charset "UTF-8";
/* CSS Document */
a {
  color: #FCB729;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FCB729;
  text-decoration: underline;
}

a:hover, a:focus, a:focus {
 outline: 0;
}

.alert-danger, .alert-error{
  background-color: #FFC6C6;
  border-color: #F4A2AD;
  color: #C80700;
}

.btn-primary {
	background-color: #FCB729;
  border-color: #DAA517;
  color: #FFFFFF;
	background-image: none;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #DCA719;
  border-color: #CA9507;
  color: #FFFFFF;
	background-image: none;
}

#maincontent {
margin-top:20px
}

hr.soften {
  height: 1px;
  margin: 35px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


/********************* NAVIGATION MENU ********************/
.navbar-inverse {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #dedede;
}

.navbar-inverse .navbar-brand {
  padding-left: 60px;
  margin-right: 20px;
  background: transparent url("../img/logos/m6r_small.png") no-repeat 10px center;
  color: #fcb729;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fcb729;
  background-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #555;
  font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a {
  color: #555;
  font-weight: bolder;
}

.navbar-inverse .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.85);
}

.navbar-inverse .dropdown-menu > .active > a {
  background-color: transparent;
}

.navbar-inverse .dropdown-menu > .active > a:hover,
.navbar-inverse .dropdown-menu > .active > a:focus {
  color: #555;
  background-color: #F5F5F5;
}

.navbar-inverse .dropdown-menu > li > a {
  color: #555;
  font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a{
  border-bottom: 5px solid #FFF;
  padding-bottom: 10px;
  -webkit-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000;
  border-color: #FCB729;
  background-color: transparent;
  -webkit-transition: border-bottom 0.4s;
  transition: border-bottom 0.4s;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #555;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .jaune > a,
.navbar-inverse .navbar-nav > .jaune > a:hover,
.navbar-inverse .navbar-nav > .jaune > a:focus {
  color: #fff;
  background-color: rgba(255, 162, 0, 0.65);
}

.navbar-inverse .navbar-nav > .jaune > a {
  border-bottom: 1px solid rgba(255, 162, 0, 0.65);
  margin-bottom: -1px;
  border-top: 1px solid rgba(255, 162, 0, 0.65);
  margin-top: -1px;
}

.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(255, 162, 0, 0.65);
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(255, 162, 0, 0.65);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: rgba(255, 162, 0, 0.65);
  margin-bottom: 0px;
  border-bottom: 0;
}

.nav .dropdown-menu {
	min-width: 215px;
}

/********************* CATEGORY MENU ********************/
.subhead {
  margin-bottom: 9px;
  padding-bottom: 0;
}

.subnav {
  background-color: #EEEEEE;
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
  background-repeat: repeat-x;
  border: solid #E5E5E5;
	border-width: 1px 0;
  height: auto;
  width: 100%;
	margin-top:50px;
}

.subnav .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
  border-left: 1px solid #F5F5F5;
  border-radius: 0 0 0 0;
  border-right: 1px solid #E5E5E5;
  margin: 0;
  padding-bottom: 11px;
  padding-top: 11px;
}

.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
  background-color: #E9E9E9;
  border-left: 0 none;
  border-right-color: #DDDDDD;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
  color: #777777;
  padding-left: 13px;
}

.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
  border-top-color: #777777;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-left: 0 none;
  border-radius: 4px 0 0 4px;
  padding-left: 12px;
}

.subnav .nav > li:last-child > a {
  border-right: 0 none;
}

.subnav .dropdown-menu {
  border-radius: 0 0 4px 4px;
}

.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
  border-radius: 0 0 0 0;
}

.subnav .dropdown-menu a {
	position: relative;
	z-index: 99;
}

.subnav .dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}

.subnav .dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

.subnav .dropdown-menu .dropdown-menu:after {
  border: 6px solid transparent;
	border-right: 6px solid #fff;
  content: "";
  display: inline-block;
  left: -11px;
  position: absolute;
  top: 6px;
	z-index: 2
}

.subnav .dropdown-menu .dropdown-menu:before {
  border: 7px solid transparent;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  left: -13px;
  position: absolute;
  top: 5px;
  z-index: 1
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs {
	font-size:0.85em;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .btn, .navbar .btn-group  {
	margin-top:5px;
}

#categories .subnav .dropdown-menu .caret {
	border: 4px solid transparent;
	border-left: 4px solid #08c;
}

#categories .subnav .dropdown-menu  a:hover .caret {
	border-left: 4px solid #000;
}

/****************** BREADCRUMB ******************/

.dropdown-menu li {
  display:block;
}

.breadcrumb-right {
  margin-top:-7px;
  margin-right:-14px;
}

.breadcrumb-right .nav > li > a {
  padding:7px 14px;
}


/**************** FOOTER ******************/
#footer {
  margin-bottom:20px;
}
